###
# $XDG_CONFIG_HOME/tofi/config
###
 
#
###### TERMINAL-STYLE -----------------------------------------------
#
anchor = top
font = TerminessTTF Nerd Font Mono
font-size = 16
horizontal = true
corner-radius = 10
outline-color = #D3D1B9
outline-width = 0
border-color = #0A3
border-width = 1
background-color = #000000
text-color = #0A3
text-cursor-style = block
text-cursor-color = #FFF
text-cursor-background = #000
selection-color = #0F6
prompt-text = ">_ "
min-input-width = 30
num-results = 0
result-spacing = 15
hide-cursor = true
width = 70%
height = 7%

#
###### BEHAVIOR -----------------------------------------------------
#
hide-cursor = false
text-cursor = true
history = true
# history-file = /path/to/file
fuzzy-match = true
require-match = true
hide-input = false
# hidden-character = "*"
terminal = footclient


#
###### INCLUSION ----------------------------------------------------
#
# Configs can be split between multiple files, and then included
# within each other.
# include = /path/to/config
